@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter;
    color: #2c3e50;
    scroll-behavior: smooth;
  }
  .mobile-screen{
    max-height: calc(100dvh - 140px);
    @apply md:max-h-full;
  }
  .atoms-button {
    @apply flex items-center rounded-xl bg-primary cursor-pointer  px-7 py-3 hover:hidden  text-white transition-all hover:-translate-y-[1px] hover:opacity-90 hover:shadow-md;
    &.light {
      @apply bg-white text-gray-700;
    }
  }
  .atoms-input {
    @apply block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary focus:ring-primary;
  }
  .container-custom {
    @apply w-full mx-auto max-w-full px-4 md:px-8;
    max-width: 1320px;
  }
  .container-slim {
    @apply mx-auto px-4 md:px-8;
    max-width: 950px;
  }
  .mobile-only {
    @apply block lg:hidden;
  }
  .desktop-only {
    @apply hidden lg:block;
  }
  .menu-link {
    @apply flex min-h-14 flex-1 flex-col items-center justify-center py-2  text-xs text-gray-700 lg:min-h-0 lg:flex-auto lg:text-sm;
    span {
      @apply h-0 opacity-0 transition-all lg:h-4 lg:opacity-100;
    }
    svg {
      @apply lg:hidden;
    }
    &.router-link-active {
      @apply bg-gray-400 bg-opacity-25 lg:bg-transparent;
      span {
        @apply h-4 opacity-100;
      }
    }
  }
}
